#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

<img
  src={profilePic}
  alt="Profile"
  className="
    w-48 h-48 md:w-64 md:h-64
    rounded-full
    object-cover
    border-4 border-cyan-400

    grayscale
    hover:grayscale-0

    transition-all duration-500 ease-in-out
    hover:scale-110

    shadow-[0_0_20px_#22d3ee]
    hover:shadow-[0_0_45px_#22d3ee]

    animate-pulse
  "
/>
